* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-style: italic;
}
:root {
  --font-size-small: 16px;
  --font-size-meduim: 18px;
  --font-size-larg: 24px;
}
body {
  padding-bottom: 33px;
  background-color: #f0f0f0;
  height: 100vh;
}
.main-container {
  padding: 20px;
}
.main-section {
  display: flex;
}
.col1 {
  flex-grow: 1;
  max-width: 700px;
  border-right: 4px solid #000;
  padding-right: 20px;
}
.col2 {
  flex-grow: 100;
}
.col1 .name {
  text-align: center;
  letter-spacing: 10px;
  font-family: var(--font-size-larg);
}

.text-center {
  text-align: center;
  margin: 20px 0;
}
.student span {
  letter-spacing: 5px;
}
.personal-info {
  display: flex;
  flex-direction: column;
}
.personal-info article {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.personal-info article i {
  font-size: var(--font-size-larg);
}
.personal-info article span {
  font-size: var(--font-size-small);
}
.personal-info article span {
  padding: 0 20px;
}
.main-header {
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header i {
  float: right;
  clear: both;
}
.education-section-content li {
  text-transform: lowercase;
  font-size: var(--font-size-small);
  padding: 7px 7px 0px 7px;
  text-transform: capitalize;
}
.education-section-content li span {
  font-weight: bold;
}
.education-section-content {
  padding: 10px 15px 0 10px;
}

.skills-section-content li {
  list-style-type: none;
  display: flex;
  padding-top: 5px;
}
.skills-section-content {
  padding: 10px 0px 0px 0;
}
.skills-section-content li i {
  margin-right: 15px;
}
.skills-section-content li span span{
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0px 6px;
  margin-top: 5px;
  display: inline-block;
  background: whitesmoke;
}
.training-section-content {
  list-style-type: none;
  margin-bottom: 27px;
}
.training-section-content li {
  padding-top: 15px;
}
.training-section-content li .time-location {
  display: flex;
  justify-content: space-between;
}
.time-location a{
  text-decoration: underline;
}
.academic-content {
  margin-bottom: 18px;
  margin-top: 16px;
}

/* clo2 */
.col2 {
  padding-left: 20px;
}
.project-section {
  padding: 5px;
}
.project-section ul {
  list-style-position: inside;
}
.project-section ul li {
  text-transform: capitalize;
  list-style-type: none;
  display: flex;
  margin-top: 3px;
}
.project-section ul li span {
  margin-left: 10px;
}
.bold {
  font-weight: bold;
}
.project-desc {
  text-transform: capitalize;
}
.project-section h3 span {
  text-transform: capitalize;
}
.tools-container {
  display: flex;
  margin-left: 0px;
}

.my-website{
  color: #000;
  font-weight: 900;
  text-decoration:underline;
  font-size: large;
  font-style: italic;
}
.d-none {
  display: none;
}

